extend layout

block content
  h1 Add a post

  if errors
    ul.errors
      for error in errors
        li= error

  form(method='POST', action='/git/gopher')
    input(type='submit', value='SEND')

  form(method='POST', action='/post', id='add-post')
    if jsSupport
      label(for='photo')
        span Image
        #preview
        input(type='file', id='photo-picker')
        textarea(class='hidden', name='photo', id='photo')
    else
      label(for='photo')
        span Image (paste in your ascii)
        textarea(name='photo_text')

    label(for='name')
      span Title
      input(type='text', name='title')

    label(for='content')
      span Post
      textarea(name='content')

    input(type='hidden', name='_csrf', value=csrf)
    button(type='submit') Add
