extend layout

block content
  h1 Recent

  ul.posts
    for post in posts
      li
        h2
          a(href='/post/#{post.id}')= post.content.message.title
        if post.content.message.photo
          pre.preview= post.content.message.photo
        p= post.content.message.body
