/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    position: relative;
}

@font-face {
    font-family: 'droid_sans_monoregular';
    src: url('../fonts/DroidSansMono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrapper {
    background-color: #f8f8f8;
    color: #222;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 100%;
    margin: 0 auto;
    max-width: 900px;
    min-width: 280px;
    padding: 0 10px;
    position: relative;
    width: 70%;
}

pre, code, .ascii {
    font-family: 'droid_sans_monoregular';
}

a {
    color: #17bdde;
}

header {
    padding: 20px 0;
}

header li {
    float: left;
    padding-right: 40px;
}

header a {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-decoration: none;
}

header a:hover {
    background-color: #7cf7ff;
    color: #111;
}

section {
    display: block;
    float: left;
    margin: 40px 0 20px;
    position: relative;
    width: 100%;
}

.hidden {
    display: none;
}

h1, h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.errors {
    margin: 20px 0;
}

.errors li {
    background-color: #e41f5b;
    color: #fff0f5;
    padding: 5px;
    text-transform: uppercase;
}

pre.photo {
    line-height: 1.3rem;
    margin-bottom: 20px;
}

pre.post {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
    white-space: pre-wrap;
}

ul.posts li {
    border-top: 3px solid #eee;
    margin-bottom: 10px;
    padding: 20px 0;
}

#preview {
    background-color: #eee;
    margin-bottom: 10px;
}

#preview, #preview img {
    height: 100px;
    width: 100px;
}

.avatar-preview pre {
    font-size: 0.58rem;
    line-height: 0.68rem;
}

p.bio, p.url {
    margin: 10px 0;
}

@media only screen and (max-width: 688px) {
    pre.photo {
        font-size: 0.75rem;
        line-height: 0.95rem;
    }
}

@media only screen and (max-width: 518px) {
    pre.photo {
        font-size: 0.58rem;
        line-height: 0.75rem;
    }
}
