/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    position: relative;
}

@font-face {
    font-family: 'droid_sans_monoregular';
    src: url('../fonts/DroidSansMono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #181818;
}

#wrapper {
    color: #222;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 100%;
    margin: 0 auto;
    max-width: 900px;
    min-width: 280px;
    padding: 0 10px;
    position: relative;
    width: 70%;
}

pre, code, .ascii {
    font-family: 'droid_sans_monoregular', monospace;
}

a {
    color: #17bdde;
    text-decoration: none;
}

header {
    padding: 20px 0;
}

header li {
    float: left;
    margin-bottom: 3px;
}

header li a {
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.8rem;
    margin: 0 2px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    width: 263px;
}

header li a.root {
    background-color: transparent;
    color: #888;
    text-align: left;
    width: 70px;
}

header li a.root:hover {
    color: #fff;
}

header a:hover {
    background-color: #7cf7ff;
    color: #444;
}

ul.users li {
    float: left;
    height: 300px;
    margin: 0 10px 5px 10px;
    overflow: hidden;
    position: relative;
    width: 280px;
}

ul.users li a {
    background-color: rgba(1, 1, 1, 0.2);
    color: #dae800;
    display: block;
    font-size: 1.7rem;
    font-weight: 200;
    height: 290px;
    line-height: 1.8rem;
    position: absolute;
    text-shadow: #111 1px 1px 2px;
    top: 0;
    width: 290px;
}

ul.users li a:hover {
    background-color: transparent;
    color: #fff;
    text-shadow: #111 1px 1px 2px;
}

section {
    color: #888;
    display: block;
    float: left;
    margin: 40px 0 20px;
    position: relative;
    width: 100%;
}

label {
    display: block;
    margin: 20px 0;
}

label > span {
    background-color: rgba(121, 121, 121, 0.1);
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.5rem;
    margin: 7px 0;
    padding: 3px 5px;
}

form input[type='text'], textarea {
    border: 1px solid #222;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 3px;
    width: 100%;
}

button {
    background-color: #dae800;
    border: 0;
    font-size: 1.8rem;
    font-weight: 200;
    line-height: 2.8rem;
    margin-top: 5px;
    padding: 0 10px;
}

button, form input[type='text'], textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

textarea {
    font-size: 1rem;
    line-height: 1.2rem;
    height: 200px;
    resize: none;
}

button {
    cursor: pointer;
}

.delete {
    background-color: #e41f5b;
    color: #fff0f5;
    height: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}

.hidden {
    display: none;
}

h1, h2 {
    color: #aaa;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 20px;
}

.errors {
    margin: 20px 0;
}

.errors li {
    background-color: #e41f5b;
    color: #fff0f5;
    padding: 5px;
    text-transform: uppercase;
}

pre.photo {
    line-height: 1.3rem;
    margin-bottom: 20px;
}

pre.post {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
    white-space: pre-wrap;
}

ul.posts {
    float: left;
}

ul.posts li {
    border-top: 3px solid #222;
    margin-bottom: 10px;
    padding: 20px 0;
}

#preview {
    margin-bottom: 10px;
}


.avatar-preview pre.photo {
    font-size: 0.58rem;
    line-height: 0.72rem;
}

p.bio, p.url {
    margin: 10px 0;
}

p.author {
    margin: 30px 0 20px;
}

.comments li {
    border-bottom: 2px solid rgba(155, 155, 155, 0.1);
    margin: 5px 0 35px;
}

.comments li p {
    margin: 10px 0;
    padding-bottom: 10px;
}

form {
    margin-bottom: 30px;
}

@media only screen and (max-width: 788px) {
    header li:not(:first-child) {
        float: left;
        width: 150px;
    }

    header li a {
        font-size: 1.3rem;
        width: 140px;
    }
}

@media only screen and (max-width: 688px) {
    header li:first-child {
        clear: both;
        width: 100%;
    }
    header li:not(:first-child) {
        width: 146px;
    }

    header li a {
        font-size: 1.2rem;
        width: 140px;
    }

    pre.photo {
        font-size: 0.75rem;
        line-height: 0.95rem;
    }
}

@media only screen and (max-width: 518px) {
    h1, h2, ul.users li a {
        font-size: 1.3rem;
    }

    pre.photo {
        font-size: 0.58rem;
        line-height: 0.75rem;
    }

    header a {
        font-size: 1rem;
    }
}
